*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins","Rubik", sans-serif;
}
.container{
    box-shadow: 0 2px 20px rgba(129, 129, 129, 0.57);
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10000;
    background-color: white;
  }
nav{
    width: 95vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
  }
  .nav_link ul{
    display: flex;
    gap: 1.5em;
  }
  .profile a img{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 444px;
    padding: 2px;
    margin-right: 4px;
  }
  .profile a{
    display: flex;
    height: 24px;
    align-items: center;
  }
  .profile a .login{
    color: #222222;
  }
  a{
    color: #222222;
  }
  .logo h1{
    color: transparent;
    -webkit-text-stroke: 1px black;
    -webkit-text-stroke-color: blueviolet;
    background: -webkit-linear-gradient(#2346c9, #7c12bb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  .hero{
    height: 30vh;
    margin-top: 8vh;
    background-color: #b3d4fc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero input{
    width: 65vw;
    height: 44px;
    border-radius: 6px;
    outline: none;
    padding-left: 12px;
    border: 1px solid gray;
    box-shadow: 0 2px 4px rgba(64, 118, 138, 0.55);
    color: #888888;
  }
  
  .register_pane{
    height: 15vh;
    background-color: #525252;
    display: flex;
    align-items: center;
  }
  .reg_content{
    display: flex;
    align-items: center;
    width: 65vw;
    margin: 0 auto;
    justify-content: space-between;
  }
  .reg_content div button{
    height: 60px;
    width: 200px;
    border-radius: 8px;
    background: transparent;
    border: 3px solid white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
  }
  
  .reg_head{
    margin-bottom: 0;
    margin-top: 0;
    color: white;
  }
  .reg_content div p{
    color: white;
  }


.card_links{
    display: block;
    height: 200px;
    width: 200px;
    background-color: green;
    border-radius: 50%;
    border: 6px solid black;
}

.card{
    margin: 0 auto;
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
    gap:2em;
}
h2{
    font-size: 16px;
    text-align: center;
    padding-top: 0.6em;
}
.load_more{
    width: 120px;
    height: 40px;
    background-color: rgb(80, 80, 80);
    color: white;
    /* justify-self: center; */
    margin-top: 2em;
    border:none;
    transition: all ease-in-out 0.4s;
    margin-bottom: 2em;
}
.load_more:hover{
    background-color: black;
}
.artist_section{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: max-content;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}


.footer_banner{
    background-color: #343434;
  }
  .footer_banner_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 65vw;
    margin: 0 auto;
    color: white;
  }
  .footer_banner_content div h2{
    margin: 0;
    font-size: 32px;
  }
  .footer_banner_content button{
    width: 300px;
    height: 56px;
  }
  
  .main_footer{
    /* height: 52vh; */
    color: white;
    /*width: 65vw;*/
    /*margin: 0 auto;*/
    background-color: #171717;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .quick_links{
    display: flex;
    /*justify-content: space-between;  */
    gap:15em;
    width: 65vw;
    margin: 0 auto;
  }
  .newsletter{
    width: 65vw;
    margin: 0 auto;
  }
  .news_button{
    width: 220px;
    height: 55px;
    background: transparent;
    border: 3px solid white;
    color: white;
  }
  hr{
    /*border: 1px solid white;*/
    background: transparent;
    width: 95vw;
    border-top: 2px solid white;
    margin: 32px auto;
  }
  .copyright{
    display: flex;
    width: 65vw;
    margin: 0 auto;
    /*gap: 2px;*/
    justify-content: space-between;
    align-items: center;
    height: 3vh;
  }
  .socials{
    display: flex;
    gap:1em;
  }